@{
    ViewData["Title"] = "Babysitter Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center mt-5">
    <h2>Select Babysitter Type</h2>

    <a href="/Web/RegisterIndividual" class="btn btn-info m-2">Individual</a>
    <a href="/Web/RegisterOrganization" class="btn btn-dark m-2">Organization</a>
</div>

<div class="container text-center mt-5">
    
    <button type="button" class="btn btn-outline-secondary ms-2" onclick="history.back()">
        Back ⮜
    </button>

</div>